/* style.css file */

body {
    background-color: #fff4b3ee; /* Yellow color */
    font-family: Arial, sans-serif;
    color: #333;
}

h1, h2 {
    color: #333;
    text-align: center;
    margin-top: 30px;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 28px;
}

/* Login and Register Pages */
body.login, body.register {
    background-color: #f0ba09; /* Light yellow color for login and register pages */
}

.table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.table th, .table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #07a8f9;
}

.table th {
    background-color: #16f90a;
}

.table tbody tr:hover {
    background-color: #990a0a;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn {
    padding: 10px 20px;
    border-radius: 4px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.btn-primary {
    background-color: #007bff;
    color: white;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-danger {
    background-color: #dc3545;
    color: white;
    border: none;
}

.btn-danger:hover {
    background-color: #c82333;
}

.btn-success {
    background-color: #28a745;
    color: white;
    border: none;
}

.btn-success:hover {
    background-color: #218838;
}

.mt-4 {
    margin-top: 20px;
}

.mb-3 {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #f1f1f1;
    padding: 20px 0;
}

footer {
    background-color: #f1f1f1;
    padding: 10px 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
    color: #333;
}

/* Specific styling for the login and register forms */
form {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form input,
form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

form h2 {
    font-size: 24px;
    margin-bottom: 20px;
}
